.box__container {
  margin-top: -150px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 2%;
  z-index: 100;
}

.box {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
}

@media (max-width: 700px) {
  .box__container {
    flex-direction: column;
    margin-top: 0;
  }
}

.box__title {
  font-size: 16px;
  margin-bottom: 10px;
}

.img__box {
  overflow: hidden;
}

.box img {
  width: 300px;
  transition: 0.5s;
}

.box img:hover {
  transform: scale(1.2);
}
